html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
.sample-slider {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
  }

#timeSlider .custom-labels{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 8px;
	color: blueviolet;
	margin-top: -30px;
}

#timeSlider .custom-ticks{
	background-color: black;
	width: 1px;
	height: 2px;
	margin-top: -25px;
}

#timeSlider .custom-labels2{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 15px;
}

#timeSlider .custom-ticks2{
	background-color: black;
	width: 1px;
	height: 10px;
}