html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
.sample-slider {
	position: absolute;
	left: 2%;
	right: 2%;
	bottom: 20px;
	margin: 20px ;
  }

#timeSlider .custom-labels{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 10px;
	color: red;
	margin-top: -35px;
}

#timeSlider .custom-ticks{
	background-color: black;
	width: 1px;
	height: 10px;
	margin-top: -30px;
}

#timeSlider .custom-labels2{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 8
}

#timeSlider .custom-ticks2{
	background-color: black;
	width: 1px;
	height: 5px;
	margin-top: 3px;
}

.esri-time-slider__slider .esri-slider {
    margin-top: -5px;
}