html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
.sample-slider {
	position: absolute;
	left: 2%;
	right: 2%;
	bottom: 20px;
	margin: 20px ;
  }

#timeSlider .custom-labels{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: red;
	margin-top: -35px;
}

#timeSlider .custom-ticks{
	background-color: black;
	width: 1px;
	height: 8px;
	margin-top: -30px;
}

#timeSlider .custom-labels2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	margin-top: 7 px;
}

#timeSlider .custom-ticks2{
	background-color: black;
	width: 1px;
	height: 8px;
	margin-top: 2px;
}

.esri-time-slider__slider .esri-slider {
    margin-top: -5px;
}

#infoDiv {
	height: 260px;
	padding: 10px;
	width: 500px;
	font-size: 14pt;
}

#infoDiv span {
	color: #77496B;
	font-size: 12pt;
	font-weight: bolder;
}

ul + ul{
	margin-top: -10px;
}

.header{
	box-sizing: border-box;
	overflow: hidden;
	background-color:#20131d;
	padding: 10px 5px;
	line-height: 75px;
}

.header a {
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	vertical-align: bottom;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 50px;
	border-radius: 4px;
  }
.header a:hover{
	background-color:#77496B;
}

.purpleLogo {
	vertical-align: bottom;
	float: left;
  }

  .header-right {
	float: right;
  }

  .title {
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	vertical-align: bottom;
	line-height: 75px;
	padding: 12px;
	text-decoration: none;
	font-size: 24px;
  }
